In [66]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [38]:
def train_validate_test_split(df, train_percent=.8, tune_percent=.1, seed=None):
    np.random.seed(seed)
    perm = np.random.permutation(df.index)
    m = len(df.index)
    train_end = int(train_percent * m)
    tune_end = int(tune_percent * m) + train_end
    train = df.iloc[perm[:train_end]]
    tune = df.iloc[perm[train_end:tune_end]]
    test = df.iloc[perm[tune_end:]]
    return train, tune, test

In [73]:
import pandas as pd
# Make display smaller
# pd.options.display.max_rows = 10
unames = ['user_id', 'gender', 'age', 'occupation', 'zip']
users = pd.read_csv('users.dat', sep='::', encoding="utf-8",
 header=None, names=unames, engine='python')
rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv('ratings.dat', sep='::', encoding="utf-8",
 header=None, names=rnames, engine='python')
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_csv('movies.dat', sep='::', encoding='latin-1',
 header=None, names=mnames, engine='python')

In [62]:
avg_rating_by_movie_genres = pd.merge(ratings, users, how='left', on='user_id')
avg_rating_by_movie_genres.drop(['occupation', 'zip'], axis=1, inplace=True)
avg_rating_by_movie_genres.head()

   user_id  movie_id  rating  timestamp gender  age
0        1      1193       5  978300760      F    1
1        1       661       3  978302109      F    1
2        1       914       3  978301968      F    1
3        1      3408       4  978300275      F    1
4        1      2355       5  978824291      F    1

In [81]:
# train, tune, test = train_validate_test_split(avg_rating_by_movie_genres, seed = 181)
ratings_per_movie = ratings.groupby(['movie_id']).size().reset_index(name='counts').sort_values(by=['counts'])

      movie_id  counts
389        402       1
2032      2214       1
3152      3382       1
2034      2217       1
2035      2218       1
...        ...     ...
466        480    2672
1120      1210    2883
1106      1196    2990
253        260    2991
2651      2858    3428

[3706 rows x 2 columns]

In [80]:
ratings[ratings['movie_id'] == 403]

3706

In [61]:
train,test = train_test_split(avg_rating_by_movie_genres, test_size=0.2, stratify = avg_rating_by_movie_genres[['user_id','movie_id']], random_state=181)

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.

In [54]:
train['user_id'].nunique()

6040

In [55]:
test['user_id'].nunique()

6040

In [10]:
# avg_rating_by_movie = avg_rating_by_movie_genres.groupby(['movie_id','genres'], as_index=False).mean()
# avg_rating_by_movie = avg_rating_by_movie[['movie_id', 'genres', 'rating']]
# avg_rating_by_movie.head()

   movie_id                        genres    rating
0         1   Animation|Children's|Comedy  4.146846
1         2  Adventure|Children's|Fantasy  3.201141
2         3                Comedy|Romance  3.016736
3         4                  Comedy|Drama  2.729412
4         5                        Comedy  3.006757

In [8]:
# avg_rating_by_movie_genres=avg_rating_by_movie_genres[avg_rating_by_movie_genres['genres'].isin(['Drama', 'Horror', 'Comedy', 'Thriller', 'Documentary', 'Action'])]

# len(avg_rating_by_movie_genres)

287296

In [21]:
# avg_rating_by_movie.to_csv('test_adversary2.dat')
# avg_rating_by_movie_genres['genres'] = avg_rating_by_movie_genres['genres'].str.split('|', 1).str[0]

In [23]:
# avg_rating_by_movie_genres.groupby(['genres']).size().reset_index(name='counts').sort_values(by=['counts']).tail(20)

         genres  counts
8       Fantasy     790
16          War     991
13      Romance    2832
17      Western    5689
6   Documentary    6817
11      Musical    7112
9     Film-Noir    9343
12      Mystery   10237
14       Sci-Fi   11464
15     Thriller   17851
3    Children's   21491
2     Animation   36936
5         Crime   37849
1     Adventure   43630
10       Horror   44170
7         Drama  208627
0        Action  257457
4        Comedy  276923

In [34]:
item_genre_dict = dict()
for i in range(len(avg_rating_by_movie)):
    genre_str = avg_rating_by_movie.at[i, 'genres']
    genre_list = genre_str.split('|')
    item_genre_dict[avg_rating_by_movie.at[i, 'movie_id']] = genre_list

In [36]:
key_genre = ['Sci-Fi', 'Horror', 'Crime', 'Adventure', "Children's", 'Romance']

# get the key_genre->item_list dict
key_genre_item = dict()
for k in key_genre:
    key_genre_item[k] = list()
for item in item_genre_dict:
    for g in item_genre_dict[item]:
        if g in key_genre:
            key_genre_item[g].append(item)

In [38]:
# collect all the items with key genres
key_item_set = set()
for genre in key_genre_item:
    key_item_set |= set(key_genre_item[genre])

nonkey_item_set = item_set - key_item_set

NameError: name 'item_set' is not defined