In [1]:
import json
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
import numpy as np
import pandas as pd
import pickle

In [26]:
item_genre_dict = pd.read_pickle('./item_genre_dict.pkl')
rdf = pd.read_pickle('./rdf.pkl')

In [29]:
rdf.head()

                  item_id                 user_id     r
0  NaZVUOzqk5b-l0mlki-9Og  tL2pS5UOmN6aAOi3Z-qFGg  True
1  FtaTjyMUIY457tPJahjg1A  tL2pS5UOmN6aAOi3Z-qFGg  True
2  ZibmYdOPKLlqDM9oR6xzOA  tL2pS5UOmN6aAOi3Z-qFGg  True
3  Trbt0Ex85yvwT8DHoEFCvg  tL2pS5UOmN6aAOi3Z-qFGg  True
4  xoGPeHR2RPnJW470-aYBUQ  tL2pS5UOmN6aAOi3Z-qFGg  True

In [30]:
item_list = rdf['item_id'].unique()
user_list = rdf['user_id'].unique()
print('item num = ' + str(len(item_list)))
print('user num = ' + str(len(user_list)))

item num = 2834
user num = 6310

In [31]:
# count the number for each genre and sort
import operator
genre_count = dict()
for l in item_genre_dict:
    for g in item_genre_dict[l]:
        if not g in genre_count:
            genre_count[g] = 1
        else:
            genre_count[g] += 1

genre_count_sorted = sorted(genre_count.items(), key=operator.itemgetter(1), reverse=True)
genre_count_sorted

[('Restaurants', 31025),
 ('Food', 5598),
 ('Nightlife', 5111),
 ('Bars', 4958),
 ('American (Traditional)', 4340),
 ('Sandwiches', 3574),
 ('Pizza', 3131),
 ('Breakfast & Brunch', 3127),
 ('American (New)', 3022),
 ('Fast Food', 2992),
 ('Mexican', 2854),
 ('Italian', 2761),
 ('Burgers', 2732),
 ('Chinese', 2467),
 ('Japanese', 1703),
 ('Seafood', 1606),
 ('Salad', 1470),
 ('Cafes', 1447),
 ('Sushi Bars', 1430),
 ('Asian Fusion', 1217),
 ('Chicken Wings', 1189),
 ('Coffee & Tea', 1173),
 ('Event Planning & Services', 1093),
 ('Sports Bars', 1093),
 ('Steakhouses', 1072),
 ('Mediterranean', 1007),
 ('Barbeque', 995),
 ('Delis', 940),
 ('Canadian (New)', 904),
 ('Pubs', 891),
 ('Diners', 883),
 ('Thai', 881),
 ('Caterers', 807),
 ('Desserts', 786),
 ('Indian', 779),
 ('Specialty Food', 756),
 ('Vegetarian', 730),
 ('Bakeries', 673),
 ('Wine Bars', 644),
 ('Vietnamese', 617),
 ('Middle Eastern', 600),
 ('Greek', 590),
 ('Cocktail Bars', 574),
 ('Buffets', 570),
 ('French', 561),
 ('Beer', 554),
 ('Wine & Spirits', 554),
 ('Soup', 518),
 ('Korean', 515),
 ('Gluten-Free', 494),
 ('Vegan', 482),
 ('Tex-Mex', 458),
 ('Lounges', 435),
 ('Comfort Food', 429),
 ('Arts & Entertainment', 409),
 ('Juice Bars & Smoothies', 384),
 ('Gastropubs', 376),
 ('Hot Dogs', 360),
 ('Ice Cream & Frozen Yogurt', 335),
 ('Ethnic Food', 334),
 ('Latin American', 332),
 ('Southern', 313),
 ('Tapas/Small Plates', 294),
 ('Food Delivery Services', 278),
 ('Caribbean', 272),
 ('Noodles', 262),
 ('Halal', 246),
 ('Bagels', 245),
 ('Venues & Event Spaces', 219),
 ('Tapas Bars', 218),
 ('Hawaiian', 213),
 ('Music Venues', 201),
 ('Pakistani', 199),
 ('Dim Sum', 192),
 ('British', 188),
 ('Food Trucks', 181),
 ('Grocery', 180),
 ('Cajun/Creole', 169),
 ('Beer Bar', 165),
 ('Breweries', 162),
 ('Fish & Chips', 162),
 ('Modern European', 147),
 ('German', 147),
 ('Ramen', 146),
 ('Chicken Shop', 144),
 ('Soul Food', 144),
 ('Creperies', 138),
 ('Irish', 136),
 ('Cheesesteaks', 132),
 ('Dive Bars', 130),
 ('Spanish', 127),
 ('Taiwanese', 125),
 ('Portuguese', 121),
 ('Imported Food', 119),
 ('Filipino', 110),
 ('Food Stands', 108),
 ('Tacos', 104),
 ('Hotels & Travel', 102),
 ('Brasseries', 99),
 ('Karaoke', 99),
 ('Shopping', 98),
 ('Persian/Iranian', 97),
 ('Street Vendors', 95),
 ('Turkish', 92),
 ('Lebanese', 89),
 ('Tea Rooms', 85),
 ('Dance Clubs', 82),
 ('Local Flavor', 80),
 ('Poke', 79),
 ('Bubble Tea', 77),
 ('Poutineries', 74),
 ('Active Life', 72),
 ('African', 71),
 ('Falafel', 67),
 ('Szechuan', 64),
 ('Hot Pot', 63),
 ('Wraps', 61),
 ('Waffles', 61),
 ('Bistros', 61),
 ('Cantonese', 58),
 ('Party & Event Planning', 58),
 ('Peruvian', 58),
 ('Brazilian', 55),
 ('Donuts', 55),
 ('Health Markets', 53),
 ('Afghan', 52),
 ('Food Court', 51),
 ('Hotels', 51),
 ('Meat Shops', 50),
 ('Malaysian', 50),
 ('Casinos', 49),
 ('Cuban', 49),
 ('Ethiopian', 49),
 ('Polish', 48),
 ('Irish Pub', 47),
 ('Live/Raw Food', 45),
 ('Hookah Bars', 45),
 ('Pan Asian', 43),
 ('Jazz & Blues', 42),
 ('Arcades', 41),
 ('Kosher', 40),
 ('Himalayan/Nepalese', 39),
 ('Mongolian', 38),
 ('Bed & Breakfast', 37),
 ('Seafood Markets', 36),
 ('Scottish', 36),
 ('Internet Cafes', 36),
 ('Do-It-Yourself Food', 36),
 ('Salvadoran', 35),
 ('International', 35),
 ('Beer Gardens', 35),
 ('Fondue', 34),
 ('Pasta Shops', 34),
 ('Belgian', 34),
 ('Swabian', 33),
 ('Convenience Stores', 33),
 ('Pool Halls', 32),
 ('Smokehouse', 31),
 ('Moroccan', 31),
 ('Butcher', 30),
 ('Beer Garden', 28),
 ('Colombian', 28),
 ('Arabian', 28),
 ('Delicatessen', 27),
 ('Gelato', 27),
 ('Organic Stores', 27),
 ('Cheese Shops', 25),
 ('Russian', 24),
 ('New Mexican Cuisine', 24),
 ('Patisserie/Cake Shop', 24),
 ('Chocolatiers & Shops', 23),
 ('Shaved Ice', 23),
 ('Wineries', 23),
 ('Whiskey Bars', 22),
 ('Fruits & Veggies', 22),
 ('Acai Bowls', 21),
 ('Cambodian', 21),
 ('Kebab', 21),
 ('Local Services', 21),
 ('Basque', 20),
 ('Teppanyaki', 19),
 ('Golf', 19),
 ('Argentine', 19),
 ('Bowling', 19),
 ('Coffee Roasteries', 18),
 ('Hungarian', 18),
 ('Venezuelan', 17),
 ('Singaporean', 17),
 ('Farmers Market', 15),
 ('Hakka', 15),
 ('Puerto Rican', 15),
 ('Cupcakes', 14),
 ('Indonesian', 13),
 ('International Grocery', 13),
 ('Sri Lankan', 12),
 ('Performing Arts', 12),
 ('Health & Medical', 12),
 ('Wigs', 12),
 ('Education', 12),
 ('Automotive', 12),
 ('Donairs', 12),
 ('Ukrainian', 12),
 ('Laotian', 11),
 ('Gay Bars', 11),
 ('Custom Cakes', 11),
 ('Beauty & Spas', 11),
 ('Home Services', 11),
 ('Flowers & Gifts', 11),
 ('Scandinavian', 11),
 ('South African', 10),
 ('Pretzels', 10),
 ('Izakaya', 10),
 ('Wedding Planning', 10),
 ('Festivals', 9),
 ('Eatertainment', 9),
 ('Art Galleries', 9),
 ('Books', 9),
 ('Mags', 9),
 ('Music & Video', 9),
 ('Cafeteria', 9),
 ('Country Dance Halls', 8),
 ('Burmese', 8),
 ('Egyptian', 8),
 ('Speakeasies', 8),
 ('Gas Stations', 8),
 ('Fashion', 8),
 ('Home & Garden', 8),
 ('Social Clubs', 8),
 ('Shanghainese', 8),
 ('Bangladeshi', 8),
 ('Cinema', 7),
 ('Resorts', 7),
 ('Macarons', 7),
 ('Dinner Theater', 7),
 ('Brewpubs', 7),
 ('Dominican', 7),
 ('Tobacco Shops', 7),
 ('Piano Bars', 7),
 ('Specialty Schools', 7),
 ('Cooking Schools', 7),
 ('Bavarian', 7),
 ('Austrian', 6),
 ('Personal Chefs', 6),
 ('Beverage Store', 6),
 ('Bookstores', 6),
 ('Kids Activities', 6),
 ('Armenian', 6),
 ('Empanadas', 6),
 ('Real Estate', 5),
 ('Arts & Crafts', 5),
 ('Hobby Shops', 5),
 ('Gift Shops', 5),
 ('Swimming Pools', 5),
 ('Hair Salons', 5),
 ('Tiki Bars', 5),
 ('Ethical Grocery', 5),
 ('Champagne Bars', 5),
 ('Day Spas', 5),
 ('Couriers & Delivery Services', 5),
 ('Adult Entertainment', 5),
 ('Laser Tag', 4),
 ('Curry Sausage', 4),
 ('Syrian', 4),
 ('Supper Clubs', 4),
 ('Department Stores', 4),
 ('Kitchen & Bath', 4),
 ('Appliances', 4),
 ('Pub Food', 4),
 ('Playgrounds', 4),
 ('Shopping Centers', 4),
 ('Florists', 4),
 ('Public Services & Government', 4),
 ('Amusement Parks', 4),
 ('Australian', 4),
 ('Wine Tasting Room', 4),
 ('Community Service/Non-Profit', 4),
 ('Sugar Shacks', 4),
 ('Candy Stores', 4),
 ('Ethnic Grocery', 4),
 ('Professional Services', 3),
 ('Tuscan', 3),
 ('Haitian', 3),
 ('Iberian', 3),
 ('Antiques', 3),
 ('Nutritionists', 3),
 ('Museums', 3),
 ('Drugstores', 3),
 ('Trinidadian', 3),
 ('Cooking Classes', 3),
 ('Musicians', 3),
 ('Pets', 3),
 ('Sporting Goods', 3),
 ('Herbs & Spices', 3),
 ('Comedy Clubs', 3),
 ('Honduran', 3),
 ('Bartenders', 3),
 ('Uzbek', 2),
 ('Czech', 2),
 ('Pita', 2),
 ('Colleges & Universities', 2),
 ('Towing', 2),
 ('Vitamins & Supplements', 2),
 ('Weight Loss Centers', 2),
 ('Home Decor', 2),
 ('Tabletop Games', 2),
 ('Escape Games', 2),
 ('Recreation Centers', 2),
 ('Dry Cleaning & Laundry', 2),
 ('Animal Shelters', 2),
 ('Fitness & Instruction', 2),
 ('Interior Design', 2),
 ('Car Dealers', 2),
 ('Japanese Curry', 2),
 ('Leisure Centers', 2),
 ('Wholesale Stores', 2),
 ('Beer Hall', 2),
 ('Olive Oil', 2),
 ('Themed Cafes', 2),
 ('Distilleries', 2),
 ('Souvenir Shops', 2),
 ('Hotel bar', 2),
 ('Nicaraguan', 2),
 ('Screen Printing', 2),
 ('Printing Services', 2),
 ('Shared Office Spaces', 2),
 ('Flea Markets', 2),
 ('Rock Climbing', 2),
 ('Tours', 2),
 ('Pharmacy', 1),
 ('Czech/Slovakian', 1),
 ('Hair Removal', 1),
 ('Mortgage Brokers', 1),
 ('Hostels', 1),
 ('Stadiums & Arenas', 1),
 ('Beach Bars', 1),
 ('Drive-Thru Bars', 1),
 ('Airports', 1),
 ('Keys & Locksmiths', 1),
 ("Men's Clothing", 1),
 ('Mauritius', 1),
 ('Medical Centers', 1),
 ('Club Crawl', 1),
 ('Cideries', 1),
 ('Trainers', 1),
 ('Yoga', 1),
 ('Furniture Stores', 1),
 ('Baby Gear & Furniture', 1),
 ('Tasting Classes', 1),
 ('Cheese Tasting Classes', 1),
 ('Bike Rentals', 1),
 ('Bike Repair/Maintenance', 1),
 ('Bikes', 1),
 ('Yelp Events', 1),
 ('Doctors', 1),
 ('Game Meat', 1),
 ('Web Design', 1),
 ('Advertising', 1),
 ('Real Estate Agents', 1),
 ('Sports Wear', 1),
 ('Milkshake Bars', 1),
 ("Women's Clothing", 1),
 ('Video Game Stores', 1),
 ('Parks', 1),
 ('Libraries', 1),
 ('Farms', 1),
 ('Hong Kong Style Cafe', 1),
 ('Pool & Billiards', 1),
 ('Adult Education', 1),
 ('Tempura', 1),
 ('Tonkatsu', 1),
 ('Plumbing', 1),
 ('Financial Services', 1),
 ('Check Cashing/Pay-day Loans', 1),
 ('Currency Exchange', 1),
 ('Horseback Riding', 1),
 ('Mountain Biking', 1),
 ('Guamanian', 1),
 ('Pet Services', 1),
 ('Pet Adoption', 1),
 ('Beaches', 1),
 ('Cultural Center', 1),
 ('Sports Clubs', 1),
 ('Pop-Up Restaurants', 1),
 ('Dentists', 1),
 ('Country Clubs', 1),
 ('Sicilian', 1),
 ('Discount Store', 1),
 ('Rotisserie Chicken', 1),
 ('Used Bookstore', 1),
 ('Kombucha', 1),
 ('Travel Services', 1),
 ('Mini Golf', 1),
 ('Popcorn Shops', 1),
 ('Climbing', 1),
 ('Comic Books', 1),
 ('Team Building Activities', 1),
 ('CSA', 1),
 ('Party Supplies', 1),
 ('Strip Clubs', 1),
 ('Party Equipment Rentals', 1),
 ('Wedding Chapels', 1),
 ('Videos & Video Game Rental', 1),
 ('Hainan', 1),
 ('Slovakian', 1),
 ('Chiropractors', 1),
 ('Special Education', 1),
 ('Water Stores', 1),
 ('Botanical Gardens', 1),
 ('Post Offices', 1),
 ('Religious Organizations', 1),
 ('Conveyor Belt Sushi', 1),
 ('Toy Stores', 1),
 ('Friterie', 1),
 ('Opera & Ballet', 1),
 ('Coffee & Tea Supplies', 1),
 ('Cabaret', 1),
 ('DJs', 1),
 ('Zoos', 1),
 ('Reunion', 1),
 ('Appliances & Repair', 1),
 ('Auto Repair', 1),
 ('Truck Rental', 1),
 ('Car Wash', 1),
 ('Pop-up Shops', 1),
 ('Bar Crawl', 1),
 ('Security Systems', 1),
 ('Udon', 1),
 ('Building Supplies', 1),
 ('Shaved Snow', 1),
 ('Nurseries & Gardening', 1),
 ('Flatbread', 1),
 ('Ticket Sales', 1),
 ('Knife Sharpening', 1),
 ('Virtual Reality Centers', 1),
 ('Guest Houses', 1),
 ('Eastern European', 1),
 ('Cannabis Clinics', 1),
 ('Life Coach', 1),
 ('Ski Resorts', 1)]

In [32]:
key_genre = ['American (New)', 'Chinese']

# get the key_genre->item_list dict
key_genre_item = dict()
for k in key_genre:
    key_genre_item[k] = list()
for item in item_genre_dict:
    for g in item_genre_dict[item]:
        if g in key_genre:
            key_genre_item[g].append(item)
            
# collect all the items with key genres
key_item = list()
for genre in key_genre_item:
    key_item = key_item + key_genre_item[genre]
key_item_set = set(key_item)

# remove the non-key genre items in rdf
item_set = set(item_list)
nonkey_item_set = item_set - key_item_set
for item in nonkey_item_set:
    rdf.drop(rdf.index[rdf['item_id'] == item], inplace=True)

In [33]:
import copy
rdf_copy = copy.copy(rdf)

In [34]:
rdf = copy.copy(rdf_copy)

In [35]:
# iteratively remove items and users with less than 5 reviews

rdf['user_freq'] = rdf.groupby('user_id')['user_id'].transform('count')
rdf.drop(rdf.index[rdf['user_freq'] <= 9], inplace=True)
rdf['item_freq'] = rdf.groupby('item_id')['item_id'].transform('count')
rdf.drop(rdf.index[rdf['item_freq'] <= 9], inplace=True)
rdf['user_freq'] = rdf.groupby('user_id')['user_id'].transform('count')
rdf['user_id'].value_counts()

CxDOIDnH8gp9KXzpBHJYXw    311
cMEtAiW60I5wE_vLfTxoJQ    290
d_TBs6J3twMy9GChqUEXkg    239
bLbSNkLggFnqwNNzzq-Ijw    194
PKEzKWv_FktMm2mGPjwd0Q    188
                         ...
UAB1Zyg6Q0oEpXeYRf5K_g     10
QTsB8VtGe46nUbMAZd87uQ     10
SXeMGP5lNgc03z7cl9Xihg     10
rbZgyYEawUszQdOyN3b9qg     10
rwUo0-Bh2ASxO4mNMWWadg     10
Name: user_id, Length: 6310, dtype: int64

In [36]:
item_list = rdf['item_id'].unique()
user_list = rdf['user_id'].unique()
print('item num = ' + str(len(item_list)))
print('user num = ' + str(len(user_list)))

item num = 2834
user num = 6310

In [37]:
# get the user and item str id->int id dict
i = 0
user_id_dict = dict()
for u in user_list:
    if not u in user_id_dict:
        user_id_dict[u] = i
        i += 1
j = 0
item_id_dict = dict()
for i in item_list:
    if not i in item_id_dict:
        item_id_dict[i] = j
        j += 1

In [38]:
print('sparsity: ' + str(len(rdf) * 1.0 / (len(user_list) * len(item_list))))

sparsity: 0.006597440855717365

In [39]:
# get the df of train, vali, and test set
rdf.reset_index(inplace=True, drop=True)
train_df = rdf.copy()
vali_df = rdf.copy()
test_df = rdf.copy()

train_ratio = 0.6
vali_ratio = 0.2
test_ratio = 0.2
num_all = len(rdf)
vali_idx = []
test_idx = []

test_vali_idx = []
i = 0
num_user = len(user_list)
for u in user_list:
    u_idx = train_df.index[train_df['user_id'] == u]
    idx_len = len(u_idx)
    test_len = int(idx_len * (test_ratio + vali_ratio))
    if test_len == 0:
        test_len = 1
    tmp = np.random.choice(u_idx, size=test_len, replace=False)
    test_vali_idx += tmp.tolist()
    i += 1
    if i % 5000 == 0:
        print(str(i) + '/' + str(num_user))

# tmp = (np.random.choice(range(num_all), size=(test_len+vali_len), replace=False)).tolist()
test_len = int(len(test_vali_idx) * test_ratio / (test_ratio + vali_ratio))
vali_len = int(len(test_vali_idx) - test_len)
test_idx = (np.random.choice(test_vali_idx, size=test_len, replace=False)).tolist()
vali_idx = (np.random.choice(test_vali_idx, size=vali_len, replace=False)).tolist()

test_set = set(test_idx)
vali_set = set(vali_idx)
train_set = set(range(num_all)) - test_set - vali_set
train_idx = list(train_set)
train_df.drop((test_idx + vali_idx), axis=0, inplace=True)
test_df.drop((train_idx + vali_idx), axis=0, inplace=True)
vali_df.drop((train_idx + test_idx), axis=0, inplace=True)

5000/6310

In [40]:
# rdf.drop(columns=['rating'], inplace=True)
# train_df.drop(columns=['rating'], inplace=True)
# test_df.drop(columns=['rating'], inplace=True)
# vali_df.drop(columns=['rating'], inplace=True)

In [41]:
# get the matrix of train, vali and test set

train_df.reset_index(drop=True, inplace=True)
test_df.reset_index(drop=True, inplace=True)
vali_df.reset_index(drop=True, inplace=True)
rdf.reset_index(drop=True, inplace=True)
train = np.zeros((len(user_list), len(item_list)))
test = np.zeros((len(user_list), len(item_list)))
vali = np.zeros((len(user_list), len(item_list)))
for r in range(len(train_df)):
    train[user_id_dict[train_df.at[r, 'user_id']], item_id_dict[train_df.at[r, 'item_id']]] = 1.0
for r in range(len(test_df)):
    test[user_id_dict[test_df.at[r, 'user_id']], item_id_dict[test_df.at[r, 'item_id']]] = 1.0
for r in range(len(vali_df)):
    vali[user_id_dict[vali_df.at[r, 'user_id']], item_id_dict[vali_df.at[r, 'item_id']]] = 1.0

In [42]:
train_df.head()

                  item_id                 user_id     r  user_freq  item_freq
0  NaZVUOzqk5b-l0mlki-9Og  tL2pS5UOmN6aAOi3Z-qFGg  True         10         28
1  ZibmYdOPKLlqDM9oR6xzOA  tL2pS5UOmN6aAOi3Z-qFGg  True         10        226
2  Trbt0Ex85yvwT8DHoEFCvg  tL2pS5UOmN6aAOi3Z-qFGg  True         10         34
3  xoGPeHR2RPnJW470-aYBUQ  tL2pS5UOmN6aAOi3Z-qFGg  True         10         33
4  So132GP_uy3XbGs0KNyzyw  tL2pS5UOmN6aAOi3Z-qFGg  True         10         87

In [43]:
# get the user int id-> str id list, and the same for item 
item_list = item_id_dict.keys()
item_idd_list = list()
for i in range(len(item_list)):
    item_idd_list.append('')
for item in item_id_dict:
    item_idd_list[item_id_dict[item]] = item

user_list = user_id_dict.keys()
user_idd_list = list()
for i in range(len(user_list)):
    user_idd_list.append('')
for user in user_id_dict:
    user_idd_list[user_id_dict[user]] = user
    
# get the item int id->genres list
item_idd_genre_list = list()
for i in range(len(item_idd_list)):
    item_idd_genre_list.append(item_genre_dict[item_idd_list[i]])

In [44]:
train_df.drop('user_freq', axis=1, inplace=True)
train_df.drop('item_freq', axis=1, inplace=True)
vali_df.drop('user_freq', axis=1, inplace=True)
vali_df.drop('item_freq', axis=1, inplace=True)
test_df.drop('user_freq', axis=1, inplace=True)
test_df.drop('item_freq', axis=1, inplace=True)
rdf.drop('user_freq', axis=1, inplace=True)
rdf.drop('item_freq', axis=1, inplace=True)

In [45]:
train_df.head()

                  item_id                 user_id     r
0  NaZVUOzqk5b-l0mlki-9Og  tL2pS5UOmN6aAOi3Z-qFGg  True
1  ZibmYdOPKLlqDM9oR6xzOA  tL2pS5UOmN6aAOi3Z-qFGg  True
2  Trbt0Ex85yvwT8DHoEFCvg  tL2pS5UOmN6aAOi3Z-qFGg  True
3  xoGPeHR2RPnJW470-aYBUQ  tL2pS5UOmN6aAOi3Z-qFGg  True
4  So132GP_uy3XbGs0KNyzyw  tL2pS5UOmN6aAOi3Z-qFGg  True

In [46]:
# get df for rdf, train, vali, test with int id for user and item
import copy
rating_df = copy.copy(rdf)
for i in range(len(rdf)):
    rating_df.at[i, 'user_id'] = user_id_dict[rating_df.at[i, 'user_id']]
    rating_df.at[i, 'item_id'] = item_id_dict[rating_df.at[i, 'item_id']]

training_df = copy.copy(train_df)
for i in range(len(training_df)):
    training_df.at[i, 'user_id'] = user_id_dict[training_df.at[i, 'user_id']]
    training_df.at[i, 'item_id'] = item_id_dict[training_df.at[i, 'item_id']]

valiing_df = copy.copy(vali_df)
for i in range(len(valiing_df)):
    valiing_df.at[i, 'user_id'] = user_id_dict[valiing_df.at[i, 'user_id']]
    valiing_df.at[i, 'item_id'] = item_id_dict[valiing_df.at[i, 'item_id']]

testing_df = copy.copy(test_df)
for i in range(len(testing_df)):
    testing_df.at[i, 'user_id'] = user_id_dict[testing_df.at[i, 'user_id']]
    testing_df.at[i, 'item_id'] = item_id_dict[testing_df.at[i, 'item_id']]

In [50]:
training_df.head()

  item_id user_id     r
0       0       0  True
1       2       0  True
2       3       0  True
3       4       0  True
4       5       0  True

In [53]:
training_df['item_id'].nunique()

2834

In [54]:
training_df['user_id'].nunique()

6310

In [48]:
# generate the rating list for each key genre, get the genre->ratings dict
rdf.reset_index(drop=True, inplace=True)
key_genre_rating = dict()
for k in key_genre:
    key_genre_rating[k] = 0.0
for r in range(len(rdf)):
    item = rdf.at[r, 'item_id']
    gl = item_genre_dict[item]
    for k in key_genre:
        if k in gl:
            key_genre_rating[k] += 1.0

# get the item int id->genres list
genre_item_vector = dict()
for k in key_genre:
    genre_item_vector[k] = np.zeros((1, len(item_list)))
for i in range(len(item_idd_genre_list)):
    genre_list = item_idd_genre_list[i]
    for g in genre_list:
        if g in key_genre:
            genre_item_vector[g][0, i] = 1.0

In [51]:
training_df.head()

  item_id user_id     r
0       0       0  True
1       2       0  True
2       3       0  True
3       4       0  True
4       5       0  True

In [24]:
with open("item_genre_dict.pkl", "wb") as f:
    pickle.dump(item_genre_dict, f, pickle.HIGHEST_PROTOCOL)
with open("genre_item_vector.pkl", "wb") as f:
    pickle.dump(genre_item_vector, f, pickle.HIGHEST_PROTOCOL)
with open("key_genre.pkl", "wb") as f:
    pickle.dump(key_genre, f, pickle.HIGHEST_PROTOCOL)
with open("user_id_dict.pkl", "wb") as f:
    pickle.dump(user_id_dict, f, pickle.HIGHEST_PROTOCOL)
with open("item_id_dict.pkl", "wb") as f:
    pickle.dump(item_id_dict, f, pickle.HIGHEST_PROTOCOL)
with open("rdf.pkl", "wb") as f:
    pickle.dump(rdf, f, pickle.HIGHEST_PROTOCOL)
with open("rating_df.pkl", "wb") as f:
    pickle.dump(rating_df, f, pickle.HIGHEST_PROTOCOL)
with open("training_df.pkl", "wb") as f:
    pickle.dump(training_df, f, pickle.HIGHEST_PROTOCOL)
with open("valiing_df.pkl", "wb") as f:
    pickle.dump(valiing_df, f, pickle.HIGHEST_PROTOCOL)
with open("testing_df.pkl", "wb") as f:
    pickle.dump(testing_df, f, pickle.HIGHEST_PROTOCOL)
with open("item_idd_genre_list.pkl", "wb") as f:
    pickle.dump(item_idd_genre_list, f, pickle.HIGHEST_PROTOCOL)
with open("item_idd_list.pkl", "wb") as f:
    pickle.dump(item_idd_list, f, pickle.HIGHEST_PROTOCOL)
with open("user_idd_list.pkl", "wb") as f:
    pickle.dump(user_idd_list, f, pickle.HIGHEST_PROTOCOL)
with open("key_genre_rating.pkl", "wb") as f:
    pickle.dump(key_genre_rating, f, pickle.HIGHEST_PROTOCOL)
    
with open("train.mat", "wb") as f:
    np.save(f, train)
with open("test.mat", "wb") as f:
    np.save(f, test)
with open("vali.mat", "wb") as f:
    np.save(f, vali)

In [25]:
# count the number for each genre and sort
import pickle
from operator import itemgetter
# item_list = pickle.load(open('./rdf.pkl'))['item_id'].unique()
# item_genre_dict = pickle.load(open('./item_genre_dict.pkl'))
# key_genre = pickle.load(open('./key_genre.pkl'))

genre_count = dict()
for i in item_list:
    gl = item_genre_dict[i]
    for g in gl:
        if g in key_genre:
            if not g in genre_count:
                genre_count[g] = 1
            else:
                genre_count[g] += 1

with open("genre_count.pkl", "wb") as f:
    pickle.dump(genre_count, f, pickle.HIGHEST_PROTOCOL)
                
genre_count_sorted = sorted(genre_count.items(), key=itemgetter(1), reverse=True)
genre_count_sorted

[(u'American (New)', 1766), (u'Chinese', 1078)]

In [26]:
import numpy as np
import pickle
import copy as copy

item_idd_genre_list = np.array(item_idd_genre_list)


mask = 1.0 * (train > 0)
user_genre_count = list()
for u in range(train.shape[0]):
    temp_genre_count = copy.copy(genre_count)
    mask_u = mask[u, :]
    gll = item_idd_genre_list[mask_u == 1.0]
    for gl in gll:
        for g in gl:
            if g in key_genre:
                temp_genre_count[g] -= 1
    user_genre_count.append(temp_genre_count)
with open("user_genre_count.pkl", "wb") as f:
    pickle.dump(user_genre_count, f, pickle.HIGHEST_PROTOCOL)

In [27]:
genre_avg_like = dict()
for k in key_genre:
    genre_avg_like[k] = key_genre_rating[k] * 1.0 / genre_count[k]

In [28]:
genre_avg_like_sorted = sorted(genre_avg_like.items(), key=itemgetter(1), reverse=True)
genre_avg_like_sorted

[('American (New)', 48.81087202718007), ('Chinese', 29.94990723562152)]